@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


#root {
  font-family: 'Public Sans', sans-serif;

}

.input-box-shadow{
  filter: drop-shadow(-4px -4px 44px rgba(0, 0, 0, 0.08));
}

.slick-prev:before, 
.slick-next:before {
     color: rgb(177, 59, 160);
     font-size: 40px;
}

.slick-next:before{
  position: absolute;
  right:0;
   margin-top: -10px;
   margin-right: 5px;
}

.slick-next,
.slick-prev
{
  position: absolute;
  right:0;
 }

.slick-prev{
  z-index: 99999;
  margin-left: 25px;
}

.category-card:hover .arrow-icon{
  fill: rgb(188, 80, 152);
}

.slick-arrow{
  position: absolute;
  right:50;
  margin-right: 25px;
 }

.slick-dots {
  @apply ml-[-10px] hidden
 }




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Reset margin and padding for all elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(16,23,42); /* Couleur de fond en mode sombre */
  color: #ffffff; /* Couleur du texte en mode sombre */
  font-family: 'Public Sans', sans-serif;
}

/* Ensure the root element takes full height */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

/* Other existing styles */
.input-box-shadow {
  filter: drop-shadow(-4px -4px 44px rgba(0, 0, 0, 0.08));
}

.slick-prev:before, 
.slick-next:before {
  color: black;
  font-size: 40px;
}

.slick-next:before {
  position: absolute;
  right: 0;
  margin-top: -10px;
  margin-right: 5px;
}

.slick-next, .slick-prev {
  position: absolute;
  right: 0;
}

.slick-prev {
  z-index: 99999;
  margin-left: 25px;
}

.category-card:hover .arrow-icon {
  fill: white;
}

.slick-arrow {
  position: absolute;
  right: 50;
  margin-right: 25px;
}

.slick-dots {
  @apply ml-[-10px] hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(16,23,42); /* Couleur de fond en mode sombre */
  color: #ffffff; /* Couleur du texte en mode sombre */
  font-family: 'Public Sans', sans-serif;
}

/* Ensure the root element takes full height */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

/* Other existing styles */
.input-box-shadow {
  filter: drop-shadow(-4px -4px 44px rgba(0, 0, 0, 0.08));
}

.slick-prev:before, 
.slick-next:before {
  color: #bc9ce8;
  font-size: 40px;
}

.slick-next:before {
  position: absolute;
  right: 0;
  margin-top: -10px;
  margin-right: 5px;
}

.slick-next, .slick-prev {
  position: absolute;
  right: 0;
}

.slick-prev {
  z-index: 99999;
  margin-left: 25px;
}

.category-card:hover .arrow-icon {
  fill: #bc9ce8;
}

.slick-arrow {
  position: absolute;
  right: 50;
  margin-right: 25px;
}

.slick-dots {
  @apply ml-[-10px] hidden;
}

.dark {
  background-color: rgb(16,23,42);
  color: white;
}

.light {
  background-color: white;
  color: gray-700;
}

/* Additional CSS for slick-dots */
.slick-dots li button:before {
  font-size: 10px;
  color: gray;
}

.slick-dots li.slick-active button:before {
  color: #bc9ce8;
}

body.dark .slick-dots li button:before {
  color: #bc9ce8;
}

body.dark .slick-dots li.slick-active button:before {
  color: #bc9ce8;
}

body.light .slick-dots li button:before {
  color: #bc9ce8;
}

body.light .slick-dots li.slick-active button:before {
  color: #bc9ce8;
}
